*{
    margin: 0;
    padding:0;
    
}

a{
    text-decoration: none;
    color: black;
}

#header{
    height: 100px;
    background-color: #5151e6;
    
}

#logo{
    display: inline-block;
}

#usuario{
    /* border: 2px solid black; */
    border-radius: 50px;
    text-align: center;
    width: 400px;
    padding: 9px;
    margin: 6px 0px;
    
}

#usuario button{
    padding: 10px;
    width: 80px;
    border-radius: 40px;
    background-color: #5151e6;
    margin-left: 10px;
    
}

#nav{
    height: 60px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

#nav input{
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

#nav button{
    padding: 10px;
    border-radius: 50px;
    background-color: #5151e6;
    
}

#msg{
    text-align: center;
}

.dados{
    border: 1px solid black;
    margin: 10px 20px;
    width: 400px;
    border-radius: 50px;
}

.dados div{
    padding: 5px;
    text-align: center;
}
